@import "src/index";

.login-container {
  height: 100%;
  padding-top: 50px;
  text-align: center;
}

.login-card {
  padding: 10px;
  margin: auto;
  width: 75%;
}

.register-button {
  margin: 10px auto;
  width: 75%;
}

