@import "src/index";

.login-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-card {
  padding: 10px;
  margin: auto;
  width: 75%;
}

.register-button {
  margin: 10px auto;
  width: 75%;
}

